<ion-header>
  <ion-toolbar>
    <ion-title> Danh Bạ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-searchbar value="Tìm kiếm"></ion-searchbar>
      <ion-tab-button tab="map">
        <ion-icon name="person-add"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-content>
  <ion-list>
    <ion-list-header>
      Tất cả danh bạ
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <!-- <ion-list *ngFor = "let i of listByGroup">
      <ion-item-divider>
        <ion-label>
          {{i.header}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor = "let j of i.list" (click)="showList(j.Id)">
        <img src={{j.image}} *ngIf = 'j.check' style="width: 30%; height: 2.8em; margin: 0 5% 0 0;">
        <ion-label>{{j.Name}}<br><p style="font-size: small; color: darkgray;"></p></ion-label>
      </ion-item>
    </ion-list> -->
    <!-- <ion-item-group>
      <ion-item-divider>
        <ion-label>A</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Adam</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Alan</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>B</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Brianna</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>C</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Carla</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content> -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Tin nhắn</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="map">
        <ion-icon name="person"></ion-icon>
        <ion-label>Danh bạ</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="group">
        <ion-icon name="people"></ion-icon>
        <ion-label> Nhóm </ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Infor</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
